.jockey-mvc-primeui-portlet .ui-dropdown .ui-dropdown-trigger {
	width: 26px;
}

.jockey-mvc-primeui-portlet .ui-dropdown {
	display: block;
	height: 30px;
}

.ui-dropdown-panel .ui-dropdown-item {
	height: 26px;
}